*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body {
    background-color: lightblue;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* main styles n shi
********************/

/* yea yea we know this is h1 text = biggest text with biggest px yea yea */


body {
    max-width: 800px;
    background: cadetblue;
    margin:0 auto;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    color: brown;
    margin: 15px 0;
}

section img {
    width: 20%;
    float: left;
    margin: 0 15px 15px 0;
}

nav a {
    color: azure;
    font-size: 1.2em;
}

nav a:active{
    color: darkgray;
}

#current